{% extends 'temp/student.html' %}
{% block admin  %}
<style xmlns="http://www.w3.org/1999/html">
.checked {
  color: orange;
}

* {
  box-sizing: border-box;
}

input select, textarea {
  width: 150px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



</style>

<form>
<br>
<br>
<br>
<br>
    <h2 align="center"><u>Feedback</u></h2>
	<table border="0" align="center" width="200" >
{#         <tr>#}
{#             <td><input type="submit" align="center" value="Add Feedback" class="btn-danger"></td>#}
{#         </tr>#}
		<tr>
{#            <td>Sl.no</td>#}
{#            <td><u>Feedback</u></td>#}
        </tr>
       {% if objval %}
        {% for ob in objval %}
        <tr>

            <td>{{ ob.feedback}}</td>

        </tr>
        {% endfor %}
        {% endif %}

{#<tr>#}
{#    <th <style="border:0px;" colspan="2" align="center"> <input type=button onClick="parent.location='/feedback/addfeedback/'" value=' Feedback'>Feedback</pre></th></tr>#}

  <tr><td>  <input align="center" type=button onClick="parent.location='/feedback/addfeedback/'" value=' Feedback' class="btn btn-primary"> </td></tr>
    </table>
<br>
<br>
<br>
<br>
<br>
</form>
{% endblock %}