{% extends 'temp/projectcoordinator.html' %}
{% block admin  %}

      <style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=date] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


input[type=year] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>

<form method="post">
     {% csrf_token %}
    <font color="black">
        <br>
        <br>
        <br>
        <br>
        <br>
	<h1 align="Center">Role Assign</h1>
	<table border="0" align="Center" width="300" height="300">
		<tr>
			<td>HOD</td>
			<td>

                <input type="text" name="hod" required>

            </td>
		</tr>
		<tr>
			<td>Project Coordinator</td>
			<td><input type="text" name="coo" required></td>
		</tr>
		<tr>
			<td>Internal Guide</td>
			<td><input type="text" name="Internal" required></td>
		</tr>
		<tr>
			<td>Batch</td>
			<td><input type="Year" name="year" required></td>
		</tr>
		<tr><td>Date</td>
			<td><input type="Date" name="date" required></td></tr>
			<tr colspan="2"><td align="Center" ><input type="submit" name="submit" value="SUBMIT"></td></tr>
	</table>
        </font>
</form>

{% endblock %}